<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments" :: navigation></nav>

<p th:text="${errorMsg}" style="color:red;"></p>


<!--https://www.youtube.com/watch?v=gzk__EWfvaw 2.6 model binding-->
<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
<!--    <input type = "text" Name="eventName" class="form-control">-->
<!--            <input type = "text" Name="name" class="form-control">-->
<!--            //https://www.youtube.com/watch?v=yc-bSDSDuKg //3.3 passing errors to view-->
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.eventDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.eventDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
<!--    https://www.youtube.com/watch?v=FOvBYJxGPTQ  3.4 Enum 4:20 -->
    <div class="form-group">
        <label>Category
            <Select th:field="${event.eventCat}" class="form-control">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
                <p class="error" th:errors="${event.eventCat}"></p>
            </Select>
        </label>
    </div>

    <div class="form-group">
    <input type="Submit" Value="Create Event" class="btn btn-success">
    </div>
    </form>

</body>
</html>

<!--WHole page created in https://www.youtube.com/watch?v=lgT962si4eQ-->