<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments" :: navigation></nav>
<!--https://www.youtube.com/watch?v=orsBBbDaJMM&t=3s 2.5-->


<form method ="post">  <!--2.5 video about 4:20 explianed that action attribute can post to different construction. Default="delete" but sounds like that cna be changed-->


        <th:block th:each="event : ${events}">
           <div class="form-group">  <!--9:20 moved the div form-group to change the look-->
            <label>
                <span th:text="${event.name}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
            </div>
        </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>
</html>