<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Coding Events</h1>
<nav th:replace="fragments" :: navigation></nav>
<p th:unless="${events} and ${events.size()}">No Current Events</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Event Name</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
<!--       6.2 changed ^ Text field  may be incorrect -->
    </tr>
</table>


</body>
</html>