<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Create Tag</h1>
<nav th:replace="fragments" :: navigation></nav>

<p th:text="${errorMsg}" style="color:red;"></p>



<form method="post" >
    <div class="form-group">
        <label>Name
            <input th:field="${tag.name}" class="form-control">
        </label>
        <p class="error" th:errors="${tag.name}"></p>
    </div>


    <div class="form-group">
        <input type="Submit" Value="Create Tag" class="btn btn-success">
    </div>
</form>

</body>
</html>